body{
    background: linear-gradient(20deg, aquamarine 50%,black 50%);
  }
  .tble{
    background: #eca15680;
  }
  .row{
    background-color: rgba(253, 250, 250, 0.767);
    align-content:center;
    color: #080505;
    z-index: 4;
    position: relative;
  
  }
  .row td{ font-size:12px;
    padding:0em 2.6em;
  }
  input{padding: .5em 1.5em;
    margin:2em 0em;
  }
  input:focus{
    background-color: #665f58b4;
    color: white;
  }
  
  button{
    background-color: aquamarine;
    padding: .6em 1.5em;
    margin-left: 7px;
    outline:none;
    border-color:#161b1a;
    transition:transform 200ms ease-in-out;
  
  
  }
  button:hover{
    transform:scale(1.1);
    cursor:pointer;
  }
  
  
  
  